@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-1: #0d2535;
  --color-primary-2: #165676;
  --color-secondary: #0071C6;
  --color-bg-main: #102E41;
  --color-text-main: #E0EAF4;
  --color-text-sec: #7FA8C4;

  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
